
h1 {
 border-bottom: 5px solid purple;
}
header {
 margin: 0;
 font-family: Times New Roman;
}

.navbar {
  overflow: hidden; 
  background-color: #8ae8ff;
}

.navbar a {
  float: left;
  color: #005875;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font size: 17px;
}

h1 {
  color: #09f;
}

.column {
 width: 100%;
 height: 100%; 
 float: left;
 padding: 10px;
 height: 800px;
 background-image: url("https://github.com/naomijans/Portfolio/blob/gh-pages/galaxy-wallpapers-10.jpg?raw=true");
 background-size: cover;
 background-position: center;
}

.My Hobbies {
 float: left;
}
.Furry Friends {
  float: right;
}

Familylife.html
background-image: url("https://github.com/naomijans/Portfolio/blob/gh-pages/46073544-floral-seamless-pattern-flower-background-floral-tile-spring-texture-with-flowers-.jpg?raw=true");
background-size: cover;
background-position: center;

#slideshow {
 width: 150px;
 height: 200px;
 postion: relative;
 padding: 10px;
 
 #slideshow > div {
  position: absolute;
  top: 10px;
  left:10px;
  right: 10px;
  bottom:10px;
 }
